/*base styles*/
* {
	box-sizing: border-width;
}
body {
	color: #00ace6;
	background-color: #333333;
}

.main-header {
	font-size: 5.625rem;
	background-image: url("../images/break the silence.jpg");
	height: 700px;
	background-size: cover;
	background-position: 50% 80%;
	background-repeat: no-repeat;
	border-radius: 30px 30px;
	font-style: oblique;
}

.primary-header {
	font-size: 1.625rem;
	margin-left: 300px;
	font-style: tahoma, sans-serif;
}

.main-nav {
	text-align: center;
	text-decoration: none;
}

.main-nav li {
	list-style-type: none;
}
.wrap {
	min-height: 150vh;
}
.obama {
	background-image: url("../images/michelle.jpg");
	height: 400px;
	width: 400px;
	border-radius: 20px 20px;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 30px;
	font-style: oblique;
	padding-top: 60px;
	padding-bottom: 0;
	text-align: center;
	float: left;
}

.winfrey {
	background-image: url("../images/oprah.jpg");
	height: 400px;
	width: 400px;
	border-radius: 20px 20px;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 30px;
	font-style: oblique;
	padding-top: 60px;
	padding-bottom: 0;
	text-align: center;
	float: right;
}

.maya {
	background-image: url("../images/maya.jpg");
	height: 400px;
	width: 400px;
	border-radius: 20px 20px;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 30px;
	font-style: oblique;
	padding-top: 60px;
	padding-bottom: 0;
	text-align: center;
}

 .nelson {
 	background-image: url("../images/nelson.jpg");
	height: 400px;
	width: 400px;
	border-radius: 20px 20px;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 30px;
	font-style: oblique;
	padding-top: 60px;
	padding-bottom: 0;
	text-align: center;
	float: right;
 }

.adichie {
	background-image: url("../images/adichie.jpg");
	height: 400px;
	width: 400px;
	border-radius: 20px 20px;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 25px;
	font-style: oblique;
	color: #0086b3;
	padding-top: 60px;
	padding-bottom: 0;
	text-align: center;
	float: left;
}

.obama,
.winfrey,
.maya,
.nelson,
.adichie {
	display: inline-block;
	padding: 10px 10px;
	margin: 50px;
	border-top: solid #00ace6 5px;
	border-bottom: solid #00ace6 5px;
}

h1 {
	font-size: 6rem;
	font-weight: bold;
	line-height: 1.3;
	text-align: center;
	text-shadow: -10px -18px 10px #222;
	padding-top: 200px;
	margin-left: 250px
	margin-left: 300px;
}

/*Link styles*/

a:link {
	color: #6666ff;
	text-decoration: none;
}

a:visited {
	color: #8080ff;
	text-decoration: none;
}

a:hover {
	color: #c44dff;
	text-decoration: none;
}

a:active {
	color: #00ace6;
	text-decoration: none;
} 